<div class="home-container">
  <div class="title-bar">
    <h2>Your Habits</h2>
  </div>

  <!-- Habit List -->
  <div *ngIf="habits && habits.length > 0; else noHabits" class="habit-list">
    <mat-card *ngFor="let habit of habits" class="habit-card clickable-card" [routerLink]="'/habit/' + habit.id">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>emoji_events</mat-icon> {{ habit.name }}
        </mat-card-title>
        <mat-card-subtitle>
          Streak: {{ habit.streak }} / {{ habit.goal }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <!-- Progress Bar -->
        <mat-progress-bar mode="determinate" [value]="((habit.streak / habit.goal) * 100)">
        </mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Fallback message if no habits are found -->
  <ng-template #noHabits>
    <p class="no-habits-message">No habits added yet. Start by adding a new habit!</p>
  </ng-template>
</div>